@import '~app/styles/colors';
@import '~app/styles/fonts';
@import '~app/styles/animation';

.playlist {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  max-width: 100%;
  color: $text;
  background-color: $bg;
  border-width: 0 1px 1px 0;
  border-color: $border;
  border-style: solid;
  transition: transform $transition-speed $transition-easing $transition-speed;
}

.hide {
  transform: translateY(-100%);
}

.header {
  background-color: $button-bg;
  color: $button-text;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  font-size: $fontsize-small;

  h2 {
    margin: 0;
    font-size: $fontsize-small;
    font-weight: normal;
    padding: 0.5rem;
  }
}

.toggle {
  background-color: $bg;
  color: $text;
  width: 7rem;
  border: 0;
  text-transform: uppercase;
  font-size: $fontsize-small;
  font-weight: bold;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.count {
  font-weight: bold;
  margin-right: 0.2em;
}

.video_list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height $transition-speed $transition-easing;
  transition-delay: $transition-speed;

  &.open {
    height: calc(100vh - 3rem);
    padding-bottom: 4rem;
    transition-delay: 0s;
  }
}

.video {
  padding: 0.3rem;
  margin: 0.5rem 0;

  button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    color: $text;
    width: 100%;
    font-size: $fontsize-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
