@import '~app/styles/colors';
@import '~app/styles/fonts';
@import '~app/styles/animation';

$fields-height: 6rem;

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes slide-bottom {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }

  100% {
    opacity: 0;
    transform: translateY(20px) translateX(-50%);
  }
}

.title {
  font-size: $fontsize-title;
  font-weight: bold;
  margin: 0;
}

.fields {
  width: 100%;
  height: $fields-height;
  margin-top: 1rem;
  font-size: $fontsize-base;
  overflow: hidden;

  .submit {
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    height: 100%;
    width: 8rem;
    border-radius: 0;
    border: 0;
    background-color: $button-bg;
    color: $button-text;
    text-transform: uppercase;
    font-size: $fontsize-base;
    font-weight: bold;
    cursor: pointer;
    transition: transform $transition-speed $transition-easing;
  }

  .feedback {
    background-color: $button-bg;
    color: $button-text;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $transition-speed $transition-easing;
  }

  &--checking {
    .submit {
      transform: translateX(100%);
    }

    .feedback {
      transform: translateY(-100%);
    }
  }

  &--error {
    .submit {
      transform: translateX(100%);
    }

    .feedback {
      transform: translateY(-100%);
    }
  }
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-width: calc(100vw - 4rem);
  transition: all $transition-speed $transition-easing;
  z-index: 2;

  &--corner {
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 40rem;
    background-color: $bg;

    .title {
      display: none;
    }

    .fields {
      height: 4rem;
      margin-top: 0;
      border-top: 1px solid;

      input,
      button,
      .feedback {
        font-size: $fontsize-small;
      }

      input {
        padding-left: 0.5rem;
      }
    }

    &.form--hide {
      transform: translateY(100%);
    }
  }

  &--center {
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide-top $transition-speed $transition-easing $transition-speed
      both;
  }

  &--center-hide {
    animation: slide-bottom $transition-speed $transition-easing both;
  }

  &--show {
    transition-delay: $transition-speed * 2;
    transform: translateY(0);
  }
}

.inputsholder {
  position: relative;
  height: 100%;
  width: 100%;
}

.input {
  box-sizing: border-box;
  border-width: 0 0 2px 0;
  border-color: $border;
  background-color: transparent;
  height: 100%;
  width: 100%;
  // display: flex;
  color: $text;
  font-size: $fontsize-base;
  padding-right: 5rem;

  &:focus {
    outline: none;
    padding-top: 2px;
    border-bottom-width: 4px;
  }
}
